#include "../minion.h"
/* Minion Constraint Solver
   http://minion.sourceforge.net
   
   For Licence Information see file LICENSE.txt 
*/

#include "../constraints/constraint_lex_watched.h"

template<typename VarArray1, typename VarArray2>
AbstractConstraint*
BuildCT_LEXLEQ_W_ENT_L(StateObj* stateObj, const VarArray1& x, const VarArray2& y, ConstraintBlob&)
{ return new LexLeqWatchedConstraint<VarArray1, VarArray2, false, false, true, true, true>(stateObj,x,y); }

BUILD_CT(CT_LEXLEQ_W_ENT_L, 2)
